
<div class="card m-2" style="width: 18rem;">
    <img src="{{product.thumbnail}}" class="card-img-top" alt="{{product.title}}">
    <div class="card-body">
        <p class="card-text">{{product.title}}</p>
        <h5>Description</h5>
        <p class="card-text">{{product.description}}</p>
        <h5>Price</h5>
        <p class="card-text">${{product.price}}</p>
        <h5>Stock</h5>
        <p class="card-text">{{product.stock}}</p>
        <h5>Status</h5>
        <p class="card-text">{{product.status}}</p>
        <h5>Category</h5>
        <p class="card-text">{{product.category}}</p>
    </div>
    <form action="delete/{{this.id}}" method="post">
        <button type="submit" class="btn btn-primary m-2" >Delete</button>
    </form>
</div>